In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/owid-covid-data.csv")
display(df.head())

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [3]:
df.isna().any()

iso_code                                   False
continent                                   True
location                                   False
date                                       False
total_cases                                 True
                                           ...
human_development_index                     True
excess_mortality_cumulative_absolute        True
excess_mortality_cumulative                 True
excess_mortality                            True
excess_mortality_cumulative_per_million     True
Length: 67, dtype: bool

In [5]:
asia_df = df[df["continent"] == "Asia"]
display(asia_df)
asia_df.to_csv("data/asia.csv", index=False)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165346,YEM,Asia,Yemen,2022-03-03,11772.0,1.0,3.000,2135.0,0.0,0.714,...,7.6,29.2,49.542,0.7,66.12,0.470,NaN,NaN,NaN,NaN
165347,YEM,Asia,Yemen,2022-03-04,11774.0,2.0,2.143,2135.0,0.0,0.571,...,7.6,29.2,49.542,0.7,66.12,0.470,NaN,NaN,NaN,NaN
165348,YEM,Asia,Yemen,2022-03-05,11775.0,1.0,2.143,2135.0,0.0,0.286,...,7.6,29.2,49.542,0.7,66.12,0.470,NaN,NaN,NaN,NaN
165349,YEM,Asia,Yemen,2022-03-06,11777.0,2.0,1.143,2138.0,3.0,0.571,...,7.6,29.2,49.542,0.7,66.12,0.470,NaN,NaN,NaN,NaN
165350,YEM,Asia,Yemen,2022-03-07,11781.0,4.0,1.429,2138.0,0.0,0.429,...,7.6,29.2,49.542,0.7,66.12,0.470,NaN,NaN,NaN,NaN

In [7]:
asia_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36296 entries, 0 to 165350
Data columns (total 67 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   iso_code                                    36296 non-null  object
 1   continent                                   36296 non-null  object
 2   location                                    36296 non-null  object
 3   date                                        36296 non-null  object
 4   total_cases                                 35738 non-null  float64
 5   new_cases                                   35713 non-null  float64
 6   new_cases_smoothed                          35312 non-null  float64
 7   total_deaths                                31922 non-null  float64
 8   new_deaths                                  31903 non-null  float64
 9   new_deaths_smoothed                         31517 non-null  float64
 10  total_cases_per_million                     35738 non-null  float64
 11  new_cases_per_million                       35713 non-null  float64
 12  new_cases_smoothed_per_million              35312 non-null  float64
 13  total_deaths_per_million                    31922 non-null  float64
 14  new_deaths_per_million                      31903 non-null  float64
 15  new_deaths_smoothed_per_million             31517 non-null  float64
 16  reproduction_rate                           31799 non-null  float64
 17  icu_patients                                2779 non-null   float64
 18  icu_patients_per_million                    2779 non-null   float64
 19  hosp_patients                               2229 non-null   float64
 20  hosp_patients_per_million                   2229 non-null   float64
 21  weekly_icu_admissions                       797 non-null    float64
 22  weekly_icu_admissions_per_million           797 non-null    float64
 23  weekly_hosp_admissions                      1603 non-null   float64
 24  weekly_hosp_admissions_per_million          1603 non-null   float64
 25  new_tests                                   18729 non-null  float64
 26  total_tests                                 18767 non-null  float64
 27  total_tests_per_thousand                    18767 non-null  float64
 28  new_tests_per_thousand                      18729 non-null  float64
 29  new_tests_smoothed                          22112 non-null  float64
 30  new_tests_smoothed_per_thousand             22112 non-null  float64
 31  positive_rate                               20870 non-null  float64
 32  tests_per_case                              20708 non-null  float64
 33  tests_units                                 22487 non-null  object
 34  total_vaccinations                          11330 non-null  float64
 35  people_vaccinated                           10224 non-null  float64
 36  people_fully_vaccinated                     9403 non-null   float64
 37  total_boosters                              3052 non-null   float64
 38  new_vaccinations                            9639 non-null   float64
 39  new_vaccinations_smoothed                   18895 non-null  float64
 40  total_vaccinations_per_hundred              11330 non-null  float64
 41  people_vaccinated_per_hundred               10224 non-null  float64
 42  people_fully_vaccinated_per_hundred         9403 non-null   float64
 43  total_boosters_per_hundred                  3052 non-null   float64
 44  new_vaccinations_smoothed_per_million       18895 non-null  float64
 45  new_people_vaccinated_smoothed              17969 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  17969 non-null  float64
 47  stringency_index                            33913 non-null  float64
 48  population                                  35979 non-null  float64
 49  population_density                          34481 non-null  float64
 50  median_age                                  35979 non-null  float64
 51  aged_65_older                               34481 non-null  float64
 52  aged_70_older                               35979 non-null  float64
 53  gdp_per_capita                              34481 non-null  float64
 54  extreme_poverty                             20777 non-null  float64
 55  cardiovasc_death_rate                       34428 non-null  float64
 56  diabetes_prevalence                         33705 non-null  float64
 57  female_smokers                              28385 non-null  float64
 58  male_smokers                                28385 non-null  float64
 59  handwashing_facilities                      18640 non-null  float64
 60  hospital_beds_per_thousand                  32183 non-null  float64
 61  life_expectancy                             35979 non-null  float64
 62  human_development_index                     34421 non-null  float64
 63  excess_mortality_cumulative_absolute        772 non-null    float64
 64  excess_mortality_cumulative                 772 non-null    float64
 65  excess_mortality                            772 non-null    float64
 66  excess_mortality_cumulative_per_million     772 non-null    float64
dtypes: float64(62), object(5)
memory usage: 18.8+ MB