# F20DV - LAB 4

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/state_crime.csv")
display(df.head(3))

,State,Year,Data.Population,Data.Rates.Property.All,Data.Rates.Property.Burglary,Data.Rates.Property.Larceny,Data.Rates.Property.Motor,Data.Rates.Violent.All,Data.Rates.Violent.Assault,Data.Rates.Violent.Murder,...,Data.Rates.Violent.Robbery,Data.Totals.Property.All,Data.Totals.Property.Burglary,Data.Totals.Property.Larceny,Data.Totals.Property.Motor,Data.Totals.Violent.All,Data.Totals.Violent.Assault,Data.Totals.Violent.Murder,Data.Totals.Violent.Rape,Data.Totals.Violent.Robbery
0,Alabama,1960,3266740,1035.4,355.9,592.1,87.3,186.6,138.1,12.4,...,27.5,33823,11626,19344,2853,6097,4512,406,281,898
1,Alabama,1961,3302000,985.5,339.3,569.4,76.8,168.5,128.9,12.9,...,19.1,32541,11205,18801,2535,5564,4255,427,252,630
2,Alabama,1962,3358000,1067.0,349.1,634.5,83.4,157.3,119.0,9.4,...,22.5,35829,11722,21306,2801,5283,3995,316,218,754

In [3]:
bool_series = df.duplicated()
display(bool_series)
print(bool_series[0])

0       False
1       False
2       False
3       False
4       False
        ...
3110    False
3111    False
3112    False
3113    False
3114    False
Length: 3115, dtype: bool

False

In [4]:
for i in range(3115):
    if(bool_series[i] == True):
        print(i)
        print(bool_series[i])

In [5]:
df.rename(columns={
    "State": "state", 
    "Year": "year", 
    "Data.Population": "population", 

    "Data.Rates.Property.All": "property_rates_all", 
    "Data.Rates.Property.Burglary": "rates_burglary", 
    "Data.Rates.Property.Larceny": "rates_larceny",
    "Data.Rates.Property.Motor": "rates_motor",

    "Data.Rates.Violent.All": "violent_rates_all",
    "Data.Rates.Violent.Assault": "rates_assault",
    "Data.Rates.Violent.Murder": "rates_murder",
    "Data.Rates.Violent.Rape": "rates_rape",
    "Data.Rates.Violent.Robbery": "rates_robbery",

    "Data.Totals.Property.All": "property_total_all",
    "Data.Totals.Property.Burglary": "total_burglary",
    "Data.Totals.Property.Larceny": "total_larceny",
    "Data.Totals.Property.Motor": "total_motor",

    "Data.Totals.Violent.All": "violent_total_all",
    "Data.Totals.Violent.Assault": "total_assault",
    "Data.Totals.Violent.Murder": "total_murder",
    "Data.Totals.Violent.Rape": "total_rape",
    "Data.Totals.Violent.Robbery": "total_robbery"
}, inplace = True)

display(df)

,state,year,population,property_rates_all,rates_burglary,rates_larceny,rates_motor,violent_rates_all,rates_assault,rates_murder,...,rates_robbery,property_total_all,total_burglary,total_larceny,total_motor,violent_total_all,total_assault,total_murder,total_rape,total_robbery
0,Alabama,1960,3266740,1035.4,355.9,592.1,87.3,186.6,138.1,12.4,...,27.5,33823,11626,19344,2853,6097,4512,406,281,898
1,Alabama,1961,3302000,985.5,339.3,569.4,76.8,168.5,128.9,12.9,...,19.1,32541,11205,18801,2535,5564,4255,427,252,630
2,Alabama,1962,3358000,1067.0,349.1,634.5,83.4,157.3,119.0,9.4,...,22.5,35829,11722,21306,2801,5283,3995,316,218,754
3,Alabama,1963,3347000,1150.9,376.9,683.4,90.6,182.7,142.1,10.2,...,24.7,38521,12614,22874,3033,6115,4755,340,192,828
4,Alabama,1964,3407000,1358.7,466.6,784.1,108.0,213.1,163.0,9.3,...,29.1,46290,15898,26713,3679,7260,5555,316,397,992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3110,Wyoming,2015,586107,179.8,1902.6,300.6,1500.9,222.1,10.1,2.7,...,21.3,1054,11151,1762,8797,1302,59,16,173,125
3111,Wyoming,2016,585501,1957.3,302.5,1518.2,136.6,244.2,195.7,3.4,...,10.1,11460,1771,8889,800,1430,1146,20,205,59
3112,Wyoming,2017,579315,1830.4,275.0,1421.0,134.5,237.5,176.4,2.6,...,13.1,10604,1593,8232,779,1376,1022,15,263,76
3113,Wyoming,2018,577737,1785.1,264.0,1375.9,145.2,212.2,150.6,2.3,...,17.3,10313,1525,7949,839,1226,870,13,243,100
3114,Wyoming,2019,578759,1571.1,241.2,1206.7,123.2,217.4,147.6,2.2,...,11.6,9093,1396,6984,713,1258,854,13,324,67

In [9]:
new_df = df[(df["state"] != "United States") & (df["year"] >= 1965)]
display(new_df)
new_df.to_csv("data/crimeUS.csv", index=False)

,state,year,population,property_rates_all,rates_burglary,rates_larceny,rates_motor,violent_rates_all,rates_assault,rates_murder,...,rates_robbery,property_total_all,total_burglary,total_larceny,total_motor,violent_total_all,total_assault,total_murder,total_rape,total_robbery
5,Alabama,1965,3462000,1392.7,473.7,812.1,106.9,199.8,149.1,11.4,...,28.7,48215,16398,28115,3702,6916,5162,395,367,992
6,Alabama,1966,3517000,1528.0,527.5,869.6,131.0,230.3,177.7,10.9,...,32.0,53740,18551,30583,4606,8098,6249,384,341,1124
7,Alabama,1967,3540000,1612.4,571.4,895.0,146.0,238.6,183.5,11.7,...,33.0,57079,20227,31682,5170,8448,6495,415,371,1167
8,Alabama,1968,3566000,1766.6,628.2,967.7,170.7,232.4,168.5,11.8,...,41.0,62997,22403,34508,6086,8288,6009,421,396,1462
9,Alabama,1969,3531000,1876.2,667.2,1037.8,171.2,250.4,181.7,13.7,...,41.0,66248,23559,36644,6045,8842,6415,485,494,1448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3110,Wyoming,2015,586107,179.8,1902.6,300.6,1500.9,222.1,10.1,2.7,...,21.3,1054,11151,1762,8797,1302,59,16,173,125
3111,Wyoming,2016,585501,1957.3,302.5,1518.2,136.6,244.2,195.7,3.4,...,10.1,11460,1771,8889,800,1430,1146,20,205,59
3112,Wyoming,2017,579315,1830.4,275.0,1421.0,134.5,237.5,176.4,2.6,...,13.1,10604,1593,8232,779,1376,1022,15,263,76
3113,Wyoming,2018,577737,1785.1,264.0,1375.9,145.2,212.2,150.6,2.3,...,17.3,10313,1525,7949,839,1226,870,13,243,100
3114,Wyoming,2019,578759,1571.1,241.2,1206.7,123.2,217.4,147.6,2.2,...,11.6,9093,1396,6984,713,1258,854,13,324,67

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3115 entries, 0 to 3114
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   state               3115 non-null   object
 1   year                3115 non-null   int64
 2   population          3115 non-null   int64
 3   property_rates_all  3115 non-null   float64
 4   rates_burglary      3115 non-null   float64
 5   rates_larceny       3115 non-null   float64
 6   rates_motor         3115 non-null   float64
 7   violent_rates_all   3115 non-null   float64
 8   rates_assault       3115 non-null   float64
 9   rates_murder        3115 non-null   float64
 10  rates_rape          3115 non-null   float64
 11  rates_robbery       3115 non-null   float64
 12  property_total_all  3115 non-null   int64
 13  total_burglary      3115 non-null   int64
 14  total_larceny       3115 non-null   int64
 15  total_motor         3115 non-null   int64
 16  violent_total_all   3115 non-null   int64
 17  total_assault       3115 non-null   int64
 18  total_murder        3115 non-null   int64
 19  total_rape          3115 non-null   int64
 20  total_robbery       3115 non-null   int64
dtypes: float64(9), int64(11), object(1)
memory usage: 511.2+ KB

In [16]:
northeastRegion_df = df[
    (df["state"] == "Connecticut") 
    | (df["state"] == "Maine") 
    | (df["state"] == "Massachusetts") 
    | (df["state"] == "New Hampshire") 
    | (df["state"] == "Rhode Island") 
    | (df["state"] == "Vermont") 
    | (df["state"] == "New Jersey")
    | (df["state"] == "New York")
    | (df["state"] == "Pennsylvania")]
display(northeastRegion_df)
northeastRegion_df.to_csv("data/northEastRegionUS.csv", index=False)

,state,year,population,property_rates_all,rates_burglary,rates_larceny,rates_motor,violent_rates_all,rates_assault,rates_murder,...,rates_robbery,property_total_all,total_burglary,total_larceny,total_motor,violent_total_all,total_assault,total_murder,total_rape,total_robbery
360,Connecticut,1960,2535234,1119.9,333.4,656.9,129.7,36.6,21.6,1.6,...,9.3,28393,8452,16653,3288,928,548,41,103,236
361,Connecticut,1961,2614000,1211.1,364.4,715.8,130.8,33.6,21.1,1.0,...,9.1,31658,9526,18712,3420,878,551,25,64,238
362,Connecticut,1962,2597000,1301.4,395.0,760.1,146.2,36.1,21.8,1.3,...,9.9,33798,10259,19741,3798,938,565,34,81,258
363,Connecticut,1963,2666000,1532.4,470.9,877.6,183.9,44.7,25.9,1.8,...,13.7,40853,12553,23397,4903,1192,691,47,88,366
364,Connecticut,1964,2766000,1742.0,531.9,1003.4,206.7,64.1,41.9,1.8,...,15.0,48185,14713,27755,5717,1773,1158,49,152,414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2810,Vermont,2015,626042,78.6,1406.6,314.4,1063.8,118.0,16.1,1.6,...,19.3,492,8806,1968,6660,739,101,10,136,121
2811,Vermont,2016,624594,1697.4,336.7,1315.6,45.1,158.3,110.6,2.2,...,17.0,10602,2103,8217,282,989,691,14,178,106
2812,Vermont,2017,623657,1436.7,297.3,1108.3,31.1,165.8,113.8,2.2,...,14.8,8960,1854,6912,194,1034,710,14,218,92
2813,Vermont,2018,626299,1283.1,234.2,1008.5,40.4,172.0,113.4,1.6,...,11.2,8036,1467,6316,253,1077,710,10,287,70
2814,Vermont,2019,623989,1424.4,204.3,1172.3,47.8,202.2,144.6,1.8,...,11.4,8888,1275,7315,298,1262,902,11,278,71

In [19]:
midwestRegion_df = df[
    (df["state"] == "Illinois") 
    | (df["state"] == "Indiana") 
    | (df["state"] == "Michigan") 
    | (df["state"] == "Ohio") 
    | (df["state"] == "Wisconsin") 
    | (df["state"] == "Iowa") 
    | (df["state"] == "Kansas")
    | (df["state"] == "Minnesota")
    | (df["state"] == "Missouri") 
    | (df["state"] == "Nebraska") 
    | (df["state"] == "North Dakota") 
    | (df["state"] == "South Dakota")]
display(midwestRegion_df)
midwestRegion_df.to_csv("data/midWestRegionUS.csv", index=False)

,state,year,population,property_rates_all,rates_burglary,rates_larceny,rates_motor,violent_rates_all,rates_assault,rates_murder,...,rates_robbery,property_total_all,total_burglary,total_larceny,total_motor,violent_total_all,total_assault,total_murder,total_rape,total_robbery
780,Illinois,1960,10081158,1976.8,577.7,1045.7,353.3,365.1,133.8,4.9,...,208.8,199283,58241,105423,35619,36802,13492,489,1773,21048
781,Illinois,1961,10258000,2082.3,586.9,1140.6,354.8,362.2,135.7,4.8,...,204.5,213602,60204,117006,36392,37156,13920,492,1767,20977
782,Illinois,1962,10146000,2162.4,555.7,1235.0,371.7,383.7,158.3,5.3,...,201.5,219393,56377,125306,37710,38926,16063,537,1884,20442
783,Illinois,1963,10182000,2255.0,541.3,1332.1,381.6,330.3,122.7,5.1,...,188.5,229605,55117,135634,38854,33627,12495,523,1416,19193
784,Illinois,1964,10489000,2333.4,547.4,1380.3,405.7,351.9,149.2,5.5,...,182.3,244754,57416,144783,42555,36916,15652,572,1569,19123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3050,Wisconsin,2015,5771337,180.1,1974.0,338.8,1444.8,305.8,90.7,4.2,...,21.2,10395,113924,19554,83385,17647,5232,240,1780,1224
3051,Wisconsin,2016,5778708,1933.3,336.1,1424.8,172.3,305.9,186.3,4.0,...,81.4,111720,19425,82337,9958,17679,10765,229,1979,4706
3052,Wisconsin,2017,5795483,1808.3,303.7,1341.3,163.4,319.9,204.8,3.2,...,75.0,104802,17599,77735,9468,18539,11869,186,2139,4345
3053,Wisconsin,2018,5813568,1559.9,242.5,1168.9,148.5,295.4,193.7,3.0,...,60.0,90686,14099,67953,8634,17176,11263,176,2248,3489
3054,Wisconsin,2019,5822434,1471.4,217.6,1127.0,126.8,293.2,200.0,3.0,...,51.4,85672,12667,65620,7385,17070,11643,175,2261,2991

In [20]:
southRegion_df = df[
    (df["state"] == "Delaware") 
    | (df["state"] == "Florida") 
    | (df["state"] == "Georgia") 
    | (df["state"] == "Maryland") 
    | (df["state"] == "North Carolina") 
    | (df["state"] == "South Carolina") 
    | (df["state"] == "Virginia")
    | (df["state"] == "District of Columbia")
    | (df["state"] == "West Virginia") 
    | (df["state"] == "Alabama") 
    | (df["state"] == "Kentucky") 
    | (df["state"] == "Mississippi") 
    | (df["state"] == "Tennessee") 
    | (df["state"] == "Arkansas") 
    | (df["state"] == "Louisiana") 
    | (df["state"] == "Oklahoma") 
    | (df["state"] == "Texas")]
display(southRegion_df)
southRegion_df.to_csv("data/southRegionUS.csv", index=False)

,state,year,population,property_rates_all,rates_burglary,rates_larceny,rates_motor,violent_rates_all,rates_assault,rates_murder,...,rates_robbery,property_total_all,total_burglary,total_larceny,total_motor,violent_total_all,total_assault,total_murder,total_rape,total_robbery
0,Alabama,1960,3266740,1035.4,355.9,592.1,87.3,186.6,138.1,12.4,...,27.5,33823,11626,19344,2853,6097,4512,406,281,898
1,Alabama,1961,3302000,985.5,339.3,569.4,76.8,168.5,128.9,12.9,...,19.1,32541,11205,18801,2535,5564,4255,427,252,630
2,Alabama,1962,3358000,1067.0,349.1,634.5,83.4,157.3,119.0,9.4,...,22.5,35829,11722,21306,2801,5283,3995,316,218,754
3,Alabama,1963,3347000,1150.9,376.9,683.4,90.6,182.7,142.1,10.2,...,24.7,38521,12614,22874,3033,6115,4755,340,192,828
4,Alabama,1964,3407000,1358.7,466.6,784.1,108.0,213.1,163.0,9.3,...,29.1,46290,15898,26713,3679,7260,5555,316,397,992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2990,West Virginia,2015,1844128,256.4,2020.0,497.3,1401.3,337.9,41.2,3.8,...,22.8,4729,37251,9170,25842,6231,760,70,672,420
2991,West Virginia,2016,1831102,2047.2,507.9,1402.3,137.0,358.1,278.5,4.4,...,39.3,37487,9301,25677,2509,6557,5099,81,657,720
2992,West Virginia,2017,1815857,1852.0,420.1,1266.6,165.3,350.7,273.4,4.7,...,28.9,33630,7628,23000,3002,6368,4964,85,795,524
2993,West Virginia,2018,1805832,1485.6,296.5,1049.6,139.5,289.9,218.5,3.7,...,31.7,26827,5354,18954,2519,5236,3945,67,652,572
2994,West Virginia,2019,1792147,1583.4,328.7,1119.7,135.0,316.6,249.1,4.4,...,21.1,28376,5891,20066,2419,5674,4464,78,754,378

In [21]:
westernRegion_df = df[
    (df["state"] == "Arizona") 
    | (df["state"] == "Colorado") 
    | (df["state"] == "Idaho") 
    | (df["state"] == "Montana") 
    | (df["state"] == "Nevada") 
    | (df["state"] == "New Mexico") 
    | (df["state"] == "Utah")
    | (df["state"] == "Wyoming")
    | (df["state"] == "Alaska") 
    | (df["state"] == "California") 
    | (df["state"] == "Hawaii") 
    | (df["state"] == "Oregon") 
    | (df["state"] == "Washington")]
display(westernRegion_df)
westernRegion_df.to_csv("data/westernRegionUS.csv", index=False)

,state,year,population,property_rates_all,rates_burglary,rates_larceny,rates_motor,violent_rates_all,rates_assault,rates_murder,...,rates_robbery,property_total_all,total_burglary,total_larceny,total_motor,violent_total_all,total_assault,total_murder,total_rape,total_robbery
60,Alaska,1960,226167,1544.9,332.1,970.5,242.3,104.3,45.1,10.2,...,28.3,3494,751,2195,548,236,102,23,47,64
61,Alaska,1961,234000,1540.6,380.8,950.0,209.8,88.9,51.7,11.5,...,12.4,3605,891,2223,491,208,121,27,31,29
62,Alaska,1962,246000,1564.6,351.6,985.4,227.6,91.5,54.5,4.5,...,13.8,3849,865,2424,560,225,134,11,46,34
63,Alaska,1963,248000,1952.8,381.5,1213.7,357.7,109.7,66.1,6.5,...,22.2,4843,946,3010,887,272,164,16,37,55
64,Alaska,1964,250000,2016.0,443.6,1218.4,354.0,150.0,96.0,10.4,...,21.2,5040,1109,3046,885,375,240,26,56,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3110,Wyoming,2015,586107,179.8,1902.6,300.6,1500.9,222.1,10.1,2.7,...,21.3,1054,11151,1762,8797,1302,59,16,173,125
3111,Wyoming,2016,585501,1957.3,302.5,1518.2,136.6,244.2,195.7,3.4,...,10.1,11460,1771,8889,800,1430,1146,20,205,59
3112,Wyoming,2017,579315,1830.4,275.0,1421.0,134.5,237.5,176.4,2.6,...,13.1,10604,1593,8232,779,1376,1022,15,263,76
3113,Wyoming,2018,577737,1785.1,264.0,1375.9,145.2,212.2,150.6,2.3,...,17.3,10313,1525,7949,839,1226,870,13,243,100
3114,Wyoming,2019,578759,1571.1,241.2,1206.7,123.2,217.4,147.6,2.2,...,11.6,9093,1396,6984,713,1258,854,13,324,67

In [10]:
finance_df = pd.read_csv("data/finance.csv")
display(finance_df.head(3))

,State,Year,Totals.Capital outlay,Totals.Revenue,Totals.Expenditure,Totals.General expenditure,Totals.General revenue,Totals.Insurance trust revenue,Totals.Intergovernmental,Totals.License tax,...,Details.Welfare.Welfare Institution Total Expenditure,Details.Natural Resources.Parks.Parks Total Expenditure,Details.Transportation.Highways.Highways Total Expenditure,Totals. Debt at end of fiscal year,Details.Insurance benefits and repayments,Details.Interest on debt,Details.Interest on general debt,Details.Miscellaneous general revenue,Details.Other taxes,Details.Police protection
0,ALABAMA,1992,664748,10536166,9650515,8788293,8910315,1473217,2737180,395202,...,1853436,9728,694874,4128724,724852,280179,280179,607453,205227,77789
1,ALABAMA,1993,781952,11389335,10242374,9339796,9688246,1570768,2965310,377723,...,2016935,11031,856228,4170084,761582,267648,267648,599988,224878,78320
2,ALABAMA,1994,767100,11599362,10815221,9922352,10014415,1454982,3077084,386771,...,2167799,12053,883852,3853804,762811,250642,250642,643807,234592,86839

In [11]:
finance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1051 entries, 0 to 1050
Data columns (total 31 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   State                                                                    1051 non-null   object
 1   Year                                                                     1051 non-null   int64
 2   Totals.Capital outlay                                                    1051 non-null   int64
 3   Totals.Revenue                                                           1051 non-null   int64
 4   Totals.Expenditure                                                       1051 non-null   int64
 5   Totals.General expenditure                                               1051 non-null   int64
 6   Totals.General revenue                                                   1051 non-null   int64
 7   Totals.Insurance trust  revenue                                          1051 non-null   int64
 8   Totals.Intergovernmental                                                 1051 non-null   int64
 9   Totals.License tax                                                       1051 non-null   int64
 10  Totals.Selective sales tax                                               1051 non-null   int64
 11  Totals.Tax                                                               1051 non-null   int64
 12  Details.Correction.Correction Total                                      1051 non-null   int64
 13  Details.Education.Education Total                                        1051 non-null   int64
 14  Details.Financial Aid.Assistance and Subsidies                           1051 non-null   int64
 15  Details.Financial Aid.Cash and Securities Total                          1051 non-null   int64
 16  Details.Health.Health Total Expenditure                                  1051 non-null   int64
 17  Details.Intergovernmental.Intergovernmental Expenditure                  1051 non-null   int64
 18  Details.Intergovernmental.Intergovernmental to Combined and Unallocable  1051 non-null   int64
 19  Details.Natural Resources.Natural Resources Construction                 1051 non-null   int64
 20  Details.Utilities.Utilities Current Operation                            1051 non-null   int64
 21  Details.Welfare.Welfare Institution Total Expenditure                    1051 non-null   int64
 22  Details.Natural Resources.Parks.Parks Total Expenditure                  1051 non-null   int64
 23  Details.Transportation.Highways.Highways Total Expenditure               1051 non-null   int64
 24  Totals. Debt at end of fiscal year                                       1051 non-null   int64
 25  Details.Insurance benefits and repayments                                1051 non-null   int64
 26  Details.Interest on debt                                                 1051 non-null   int64
 27  Details.Interest on general debt                                         1051 non-null   int64
 28  Details.Miscellaneous general revenue                                    1051 non-null   int64
 29  Details.Other taxes                                                      1051 non-null   int64
 30  Details.Police protection                                                1051 non-null   int64
dtypes: int64(30), object(1)
memory usage: 254.7+ KB

In [12]:
drugs_df = pd.read_csv("data/drugs.csv")
display(drugs_df.head(3))

,State,Year,Population.12-17,Population.18-25,Population.26+,Totals.Alcohol.Use Disorder Past Year.12-17,Totals.Alcohol.Use Disorder Past Year.18-25,Totals.Alcohol.Use Disorder Past Year.26+,Rates.Alcohol.Use Disorder Past Year.12-17,Rates.Alcohol.Use Disorder Past Year.18-25,...,Totals.Marijuana.Used Past Year.26+,Rates.Marijuana.Used Past Year.12-17,Rates.Marijuana.Used Past Year.18-25,Rates.Marijuana.Used Past Year.26+,Totals.Tobacco.Use Past Month.12-17,Totals.Tobacco.Use Past Month.18-25,Totals.Tobacco.Use Past Month.26+,Rates.Tobacco.Use Past Month.12-17,Rates.Tobacco.Use Past Month.18-25,Rates.Tobacco.Use Past Month.26+
0,Alabama,2002,380805,499453,2812905,18,68,138,0.048336,0.136490,...,141,0.127535,0.237880,0.050275,63,226,930,0.166578,0.451976,0.330659
1,Alaska,2002,69400,62791,368460,4,12,27,0.061479,0.187891,...,46,0.188730,0.389026,0.124566,11,30,112,0.163918,0.484270,0.304220
2,Arizona,2002,485521,602265,3329482,36,117,258,0.073819,0.193626,...,215,0.169646,0.275435,0.064640,73,240,1032,0.151071,0.397968,0.309969

In [13]:
drugs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 867 entries, 0 to 866
Data columns (total 53 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   State                                              867 non-null    object
 1   Year                                               867 non-null    int64
 2   Population.12-17                                   867 non-null    int64
 3   Population.18-25                                   867 non-null    int64
 4   Population.26+                                     867 non-null    int64
 5   Totals.Alcohol.Use Disorder Past Year.12-17        867 non-null    int64
 6   Totals.Alcohol.Use Disorder Past Year.18-25        867 non-null    int64
 7   Totals.Alcohol.Use Disorder Past Year.26+          867 non-null    int64
 8   Rates.Alcohol.Use Disorder Past Year.12-17         867 non-null    float64
 9   Rates.Alcohol.Use Disorder Past Year.18-25         867 non-null    float64
 10  Rates.Alcohol.Use Disorder Past Year.26+           867 non-null    float64
 11  Totals.Alcohol.Use Past Month.12-17                867 non-null    int64
 12  Totals.Alcohol.Use Past Month.18-25                867 non-null    int64
 13  Totals.Alcohol.Use Past Month.26+                  867 non-null    int64
 14  Rates.Alcohol.Use Past Month.12-17                 867 non-null    float64
 15  Rates.Alcohol.Use Past Month.18-25                 867 non-null    float64
 16  Rates.Alcohol.Use Past Month.26+                   867 non-null    float64
 17  Totals.Tobacco.Cigarette Past Month.12-17          867 non-null    int64
 18  Totals.Tobacco.Cigarette Past Month.18-25          867 non-null    int64
 19  Totals.Tobacco.Cigarette Past Month.26+            867 non-null    int64
 20  Rates.Tobacco.Cigarette Past Month.12-17           867 non-null    float64
 21  Rates.Tobacco.Cigarette Past Month.18-25           867 non-null    float64
 22  Rates.Tobacco.Cigarette Past Month.26+             867 non-null    float64
 23  Totals.Illicit Drugs.Cocaine Used Past Year.12-17  867 non-null    int64
 24  Totals.Illicit Drugs.Cocaine Used Past Year.18-25  867 non-null    int64
 25  Totals.Illicit Drugs.Cocaine Used Past Year.26+    867 non-null    int64
 26  Rates.Illicit Drugs.Cocaine Used Past Year.12-17   867 non-null    float64
 27  Rates.Illicit Drugs.Cocaine Used Past Year.18-25   867 non-null    float64
 28  Rates.Illicit Drugs.Cocaine Used Past Year.26+     867 non-null    float64
 29  Totals.Marijuana.New Users.12-17                   867 non-null    int64
 30  Totals.Marijuana.New Users.18-25                   867 non-null    int64
 31  Totals.Marijuana.New Users.26+                     867 non-null    int64
 32  Rates.Marijuana.New Users.12-17                    867 non-null    float64
 33  Rates.Marijuana.New Users.18-25                    867 non-null    float64
 34  Rates.Marijuana.New Users.26+                      867 non-null    float64
 35  Totals.Marijuana.Used Past Month.12-17             867 non-null    int64
 36  Totals.Marijuana.Used Past Month.18-25             867 non-null    int64
 37  Totals.Marijuana.Used Past Month.26+               867 non-null    int64
 38  Rates.Marijuana.Used Past Month.12-17              867 non-null    float64
 39  Rates.Marijuana.Used Past Month.18-25              867 non-null    float64
 40  Rates.Marijuana.Used Past Month.26+                867 non-null    float64
 41  Totals.Marijuana.Used Past Year.12-17              867 non-null    int64
 42  Totals.Marijuana.Used Past Year.18-25              867 non-null    int64
 43  Totals.Marijuana.Used Past Year.26+                867 non-null    int64
 44  Rates.Marijuana.Used Past Year.12-17               867 non-null    float64
 45  Rates.Marijuana.Used Past Year.18-25               867 non-null    float64
 46  Rates.Marijuana.Used Past Year.26+                 867 non-null    float64
 47  Totals.Tobacco.Use Past Month.12-17                867 non-null    int64
 48  Totals.Tobacco.Use Past Month.18-25                867 non-null    int64
 49  Totals.Tobacco.Use Past Month.26+                  867 non-null    int64
 50  Rates.Tobacco.Use Past Month.12-17                 867 non-null    float64
 51  Rates.Tobacco.Use Past Month.18-25                 867 non-null    float64
 52  Rates.Tobacco.Use Past Month.26+                   867 non-null    float64
dtypes: float64(24), int64(28), object(1)
memory usage: 359.1+ KB